// wrapper styling
.wrapper {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

// base styling
html {
    font-size: 125%;
}
*, body {
    font-size: 0.9rem;
    color: $primaryFontColour;
    font-family: $baseFontType;
}
body {
    background: linear-gradient($primaryAccentColour, $secondaryAccentColour);
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    padding-bottom: 75px;
}
ul {
    list-style: none;
}
nav a {
    p, i {
        font-size: 1rem;
    }
}

h1, h2, h3 {
    font-family: $headerFontType;
    margin: 0;
    margin-bottom: 10px;   
}
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    border: 3px solid $tertiaryAccentColour;
    border-radius: 15px;
}

button, .project a {
    background-color: $secondaryFontColour;
    color: $tertiaryFontColour;
    font-weight: 700;
    &:hover, &:focus {
        background-color: $tertiaryAccentColour;
    }
}

// header styling
header {
    margin: 50px 0;
    text-align: center;
}

// footer styling
footer {
    background-color: $textContrastColour;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    text-align: center;
    a:hover, a:focus {
        color: $secondaryFontColour;
    }
}