$primaryFontColour: #fff;
$secondaryFontColour: #fdfd96;
$tertiaryFontColour: #000;

$textContrastColour: #171c1ccc;

$primaryAccentColour: #191654;
$secondaryAccentColour: #43C6AC;
$tertiaryAccentColour: #EE964B;

$baseFontType: 'Roboto', sans-serif;
$headerFontType: 'Fira Sans', sans-serif;