$primaryFontColour: #fff;
$secondaryFontColour: #fdfd96;
$tertiaryFontColour: #000;

$textContrastColour: #171c1ccc;

$primaryAccentColour: #1a2a6c;
$secondaryAccentColour: #0575E6;
$tertiaryAccentColour: #ffbb00;

$baseFontType: 'Roboto', sans-serif;