@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

html {
  font-size: 125%;
}

*, body {
  font-size: 0.9rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #191654), to(#43C6AC));
  background: linear-gradient(#191654 10%, #43C6AC 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  padding-bottom: 75px;
}

ul {
  list-style: none;
}

nav a p, nav a i {
  font-size: 1rem;
}

p {
  line-height: 1.5;
}

h1, h2, h3 {
  color: #EE964B;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  margin-bottom: 10px;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #fdfd96;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-weight: 500;
  font-size: 1.35rem;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  border: 3px solid #EE964B;
  border-radius: 5px;
}

button, .project a {
  background-color: #fdfd96;
  color: #000;
  font-weight: 700;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
button:hover, button:focus, .project a:hover, .project a:focus {
  background-color: #EE964B;
}

header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
  height: 90vh;
  position: relative;
}

header::after {
  content: "ᐯ";
  font-weight: 500;
  font-size: 2.5rem;
  position: absolute;
  bottom: 0;
  -webkit-animation: gentleBounce 2.5s infinite;
          animation: gentleBounce 2.5s infinite;
}

footer {
  background-color: rgba(23, 28, 28, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  text-align: center;
}
footer a:hover, footer a:focus {
  color: #fdfd96;
}

@-webkit-keyframes gentleBounce {
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes gentleBounce {
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}
header, main {
  margin-left: 100px;
}

footer {
  padding-left: 100px;
}

nav {
  background-color: rgba(23, 28, 28, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
nav ul {
  width: 100%;
}
nav li {
  text-align: center;
  min-height: 60px;
  border-bottom: 2px solid #fdfd96;
}
nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100%;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
nav a:hover, nav a:focus {
  background-color: #fdfd96;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}
nav a:hover p, nav a:hover i, nav a:focus p, nav a:focus i {
  color: #000;
}
nav i {
  margin-bottom: 7px;
}

section {
  border: 1px solid rgba(23, 28, 28, 0.8);
  border-radius: 10px;
  background-color: rgba(23, 28, 28, 0.8);
  margin: 30px;
  padding: 30px;
  width: 65%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section:nth-child(2n) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about img {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  margin-bottom: 15px;
}
.about img:hover {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills ul li {
  margin: 20px;
  text-align: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.skills ul li:focus, .skills ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.skills ul li:focus i, .skills ul li:focus p, .skills ul li:hover i, .skills ul li:hover p {
  color: #EE964B;
}
.skills ul i {
  font-size: 2.4rem;
  margin-bottom: 5px;
}

.project {
  border-bottom: 3px solid #EE964B;
  border-radius: 8px;
  padding: 25px;
}
.project p {
  margin-bottom: 15px;
}
.project a {
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px;
  border: 3px solid #EE964B;
  margin-bottom: 5px;
}

.skills-used {
  margin-bottom: 15px;
}
.skills-used i {
  font-size: 1.1rem;
  margin-right: 10px;
  border-right: 2px solid #fff;
  padding-right: 15px;
}
.skills-used i:last-of-type {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
.skills-used i:hover, .skills-used i:focus {
  color: #EE964B;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-links a {
  text-decoration: none;
}
.my-links a i {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.my-links a:focus i, .my-links a:hover i {
  color: #EE964B;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.my-links i {
  font-size: 1.7rem;
  margin-left: 15px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-form input, .contact-form textarea, .contact-form button {
  color: #000;
  border: 3px solid #EE964B;
  padding: 12px 20px;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 1rem;
}
.contact-form input:focus, .contact-form input:hover, .contact-form textarea:focus, .contact-form textarea:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfd96), to(#fff));
  background-image: linear-gradient(#fdfd96, #fff);
}
.contact-form div.identity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact-form input {
  width: 49%;
}
.contact-form textarea {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
}

@media (max-width: 900px) {
  section {
    width: 100%;
  }

  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  section:nth-child(2n) {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .skills ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 8%;
            flex: 1 0 8%;
  }
}
@media (max-width: 550px) {
  section {
    padding: 15px;
  }

  header {
    font-size: 2.5rem;
    padding: 0 5%;
  }

  h2, h3, p {
    text-align: center;
  }

  .skills, .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contact-form input {
    width: 100%;
  }

  header, main {
    margin-left: 0px;
  }

  footer {
    padding-left: 0px;
  }

  nav {
    left: -100px;
  }
}